.boton-contenedor{
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #000000;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}

.boton-contenedor:hover{
    background-color: #ffc800;
}

.operador{
    background-color: #ff9500;
}
.operador:hover{
    background-color: #000000;
}